.form-row {
  margin-bottom: 20px;
}

.breadcrumb {
  background-color: transparent;
  justify-content: center;
}

.breadcrumb-item>a {
  color: #6c757d;
  text-decoration: underline;
}

.btn,
.btn:hover{
  color: white;
}
